@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Arial", sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }

  .transform-example {
    transform: translateX(50px);
  }

  .loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid rgb(226, 19, 64); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}